@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
nav{
    margin-bottom: 0;
}

 nav{
     font-family: 'Bebas Neue', cursive;
     background-color: white;
     color: white;
     height: 60px;
     margin-bottom: 0;
}
 nav .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
 nav .content .image img{
    height:54px;
}
 nav .content .team{
    font-size: 1.5rem;
    padding:7px;
    
}
nav .content .team{
    display: flex;
    align-items: center;
}
nav .content .team h4{
    color : blueviolet;
}
 nav .content .team a {
    margin-right: 3px ;
    padding: 4px;
    
    padding: 4px;
    
    display: block;
    color : blueviolet;
}
 nav .content .team a:hover{
    border-radius: 100px 100px 100px 100px;
    background-color: blueviolet;
    color: black;
    
   
}
 nav .content .about a{
    font-size: 1.5rem;
    margin-right: 4px;
    padding: 4px;
    color : blueviolet;
    
}
 nav .content .about a:hover{
    border-radius: 100px 100px 100px 100px;
    background-color: blueviolet;
    color: black;
   
}
.main{
    

    margin:0;
    margin-top: -20px;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .main h1{
    text-align: center;
    margin-top: 20px;
    color:white;


}
.main .imagecovid{
    background: url('')no-repeat center/cover;
    height:400px;
    width:500px

}
.ourteam{
    height:60vh;
    background-color: #17141d;
    font-family: 'DM Mono', monospace;

}
.ourteam h1{
    text-align: center;
    color: white;
}
.ourteam{
    display:flex;
    align-items: center;
    flex-direction: column;
    color:white;
}
.ourteam .teamcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top: 15px;
  


}
.teammem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 400px;
    min-width: 1.5rem;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    border-radius: 9px;
    border: 2px solid purple;

}
.teammem h4{
    text-align: center;
}
.teammem .skills p{
    text-align: center;
}
.teammem .message p{
    text-align: center;
}
.teammem .profiles {
    display: flex;
    justify-content: center;
}
.teammem .profiles a{
    display: block;
}
.bottom{
    margin-bottom: 5px;
}
/* .teammem:hover{
    transform: translateY(-1rem);
}
.teammem:hover~.teammem{
    transform: translateX(+130px);
}
.teammem:not(:first-child){
    margin-left: -130px;
} */
.teammem .image1{
    height:200px;
    width:100%;
    background: url('./images/WhatsApp\ Image\ 2021-09-02\ at\ 02.41.36.jpeg')no-repeat center/cover;
}
.teammem .image2 {
    height: 200px;
    width:100%;
    
    background: url('./images/WhatsApp\ Image\ 2021-09-02\ at\ 11.14.13.jpeg')no-repeat center/cover;
}
.teammem .image3{
    height:200px;
    width:100%;
    background: url('./images/tanx.jpeg')no-repeat center/cover;
}
.teammem .image4{
    height:200px;
    width:100%;
    background: url('./images/Shrayan.jpeg')no-repeat center/cover;
}
.teammem:hover{
    transform: translateY(-30px);
}
.none{
    display: none;
}
.teammem .profiles a{
margin :0 5px;
}
.teammem .profiles a i{
    color:white;
}